body {
  height: 100%;
  width: 100%;
  background: url(http://99px.ru/sstorage/53/2012/08/tmb_46100_6315.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
width: 480px;
 height: 1390px;
 margin: 40px;
 left: 720px;
 right: 720;
 bottom: 541px;
 top: 240px;
 background-color: white;
 margin-right: 720px;
 margin-left: 720px;
 margin-top: 240px;
 margin-bottom: 542px;
} 

.page {
  size: contain;
  background-repeat: repeat;
  height: 100%;
}
.wrapper {
	position: absolute;
	padding-left: 37px;
	padding-top: 110px;
	padding-bottom: 541px;
	padding-right: 720px;
	float: left;
	 text-align: left;
}
.Agency_Profile {
  font-size: 17px;
  font-family: "PathwayGothicOne";
  color: rgb(38, 53, 85);
  text-transform: uppercase;
  line-height: 0.9;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,40,-40);
}
.Gellentesque_ {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  text-align: left;
}
.Lorem_{
  font-size: 12px;
  font-family: "Arial";
  color: rgb(78, 80, 80);
  line-height: 1.417;
  text-align: left;
  }
  .Our_Principles {
  font-size: 17px;
  font-family: "PathwayGothicOne";
  color: rgb(38, 53, 85);
  line-height: 4.2;
  text-align: left;
  text-transform: uppercase;
}
.Pellentesque_ {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.357;
  text-align: left;
}
.Quisque_{
  font-size: 12px;
  font-family: "Arial";
  color: rgb(78, 80, 80);
  line-height: 1.417;
  text-align: left;
}
.Aellentesque_ {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.357;
  text-align: left;
}
.Fuisque_ {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(78, 80, 80);
  line-height: 1.417;
  text-align: left;
}
.Grellentesque_ {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.357;
  text-align: left;
}
hr {
  size: 2px;
}
.Yisque_ {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(78, 80, 80);
  line-height: 1.417;
  text-align: left;
  padding-bottom: 20px;
}

.What_We {
  font-size: 17px;
  font-family: "PathwayGothicOne";
  color: rgb(38, 53, 85);
  text-transform: uppercase;
  line-height: 3.2;
  text-align: left;
}
.Cum_sociis{
  font-size: 14px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.357;
  text-align: left;
}
.Sed_dign {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(78, 80, 80);
  line-height: 1.417;
  text-align: left;
  }
.Zdfem_psum {
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,250,-148);
}
.Vcem_psum{
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,250,-150);
}
.Dem_psum {
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,250,-144);
}
.Game_sum {
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,250,-146);
}
.Nem_dsum {
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,70,0);
}
.Bem_psum{
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,70,0);
}
.Rame_sum {
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,70,0);
}
.Sem_psum {
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left;
  -webkit-transform: matrix( 1.2,0,0,1.2,70,0);
  
}
.Fgo_psu {
  font-size: 11.667px;
  font-family: "Arial";
  color: rgb(38, 53, 85);
  line-height: 1.629;
  text-align: left; 
  -webkit-transform: matrix( 1.2,0,0,1.2,70,0);
}


  



